{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block container %}
<div class="container w-50">
  {% bootstrap_messages %}
</div>
<section class="container d-flex justify-content-center">
  <div class="mw-100 d-inline-flex shadow-lg p-3 mb-5 bg-body rounded form-container">
    <div class="w-50">
    <img src="https://raw.githubusercontent.com/Mcnores-Samuel/LBN/main/localBusinessNetwork/static/logo_lbn.jpeg" alt="SHX Logo" class="img-fluid">
    </div>
    <div class="w-50">
    <h1 class="text-center">Login</h1>
    <p class="text-center">Please enter your username and password to log in.</p>
    <form action="{% url 'log_in' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn apply-btn">Login</button>
    </form>
    </div>
  </div>
</section>
{% endblock %}