    /* General container styling */
    .form-container {
        background-color: #f8f9fa;
        border-radius: 30px;
        transition: transform 0.2s ease-in-out;
        width: 70%;
      }
    
      .form-container > div {
        padding: 20px;
        width: 50%;
      }
    
      /* Add hover effect for the form container */
      .form-container:hover {
        transform: scale(1.02);
      }
    
      /* Adjust padding and form button style */
      .form-container .btn {
        padding: 10px 15px;
        font-size: 18px;
        border-radius: 10px;
      }
    
      /* Add some spacing inside the form */
      .form-container form {
        padding: 15px 0;
      }
    
      /* Add a bit of style to the title */
      .form-container h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }
    
      /* Image container styling */
      .form-container img {
        max-width: 100%;
        border-radius: 10px;
      }

      #id_password1_helptext {
        display: none;
      }
    
      /* Responsive design adjustments */
      @media (max-width: 768px) {
        .form-container {
          flex-direction: column;
          padding: 20px;
          width: 100%;
        }
        
        .form-container > div {
          width: 100%;
        }
    
        .form-container img {
          margin-bottom: 20px;
        }
      }