{% extends 'index.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}
{% block container %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<br>
<div class="container w-50">
  {% bootstrap_messages %}
</div>
<section class="container d-flex justify-content-center">
  <div class="mw-100 d-inline-flex shadow-lg p-3 mb-5 bg-body rounded form-container">
    <div>
    <img src="https://raw.githubusercontent.com/Mcnores-Samuel/LBN/main/localBusinessNetwork/static/logo_lbn.jpeg" alt="SHX Logo" class="img-fluid">
    </div>
    <div>
    <h1 class="text-center fw-bold text-muted">Sign Up</h1>
    <p class="text-center text-info">Please enter your username and password to sign up.</p>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn apply-btn">Signup</button>
    </form>
    </div>
  </div>
</section>
{% endblock %}